@media (max-width: 900px) {
  header {
    flex-direction: column;
  }

  header h1 {
    text-align: center;
  }

  main h2 {
    font-size: 5rem;
  }

  main img {
    width: 40rem;
    margin-top: 12rem;
    height: 35rem;
  }
}

@media (max-width: 760px) {
  header {
    flex-direction: column;
  }

  header ul {
    text-align: center;
  }

  header h1 {
    text-align: center;
  }

  main {
    flex-direction: column;
  }

  main h2 {
    margin-top: auto;
    text-align: center;
    font-size: 3.8rem;
  }

  main p {
    margin: 0 auto;
    width: 100%;
  }

  form {
    margin: 0 auto;
  }

  input {
    align-self: center;
    width: 100%;
  }

  form [type="submit"] {
    width: 100%;
  }

  main img {
    display: none;
  }
}

@media (max-width: 418px) {
  header ul li {
    font-size: 1.3rem;
  }
}

@media (max-width: 359px) {
  header ul li {
    font-size: 1.1rem;
  }

  main p {
    font-size: 1.4rem;
  }
}
